{% extends "_layouts/donatasmart.twig" %}

{% block page_contents %}
{% if isLive == 1 %}
    {% set domain = "lt" %}
{% else %}
    {% set domain = "local" %}
{% endif %}
<p>All published documents are in Lithuanian language because hell-music is a Lithuanian site. All documents are formed like &#39;YYYYMMDD &lt;name&gt;&#39;</p>
<p>Sadly, but Hell-Music had to go away :(. Yea, I know, - it's very sad. <a href="http://www.hell-music.lt/straipsniai/pasiskaitymai/364/">Here is</a> their &#39;Outro&#39;</p>
<h2>News</h2>
<p>All &lt;name&gt; elements are group names</p>
<div class="row">
{% for key, news in links.news %}
    {% if loop.index0 is divisible by(amount) %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <ol start="{{ loop.index }}">
    {% endif %}

            <li><a href="//docs.donatasmart.{{ domain }}{{ news[0] }}{{ key }}">{{ news[1] }}</a></li>

    {% if loop.index is divisible by(amount) or loop.last %}
        </ol>
    </div>
    {% endif %}
{% endfor %}
</div>
<h2>Reviews</h2>
<p>All &lt;name&gt; elements are short names - conclusions</p>
<ol>
    {% for key, review in links.reviews %}
    <li><a href="//docs.donatasmart.{{ domain }}{{ review[0] }}{{ key }}">{{ review[1] }}</a></li>
    {% endfor %}
</ol>
<h2>Reports</h2>
<p>All &lt;name&gt; elements are short names - conclusions. If you don't know the certain name, it might be group name or festival name</p>
<ol>
    {% for key, report in links.reports %}
    <li><a href="//docs.donatasmart.{{ domain }}{{ report[0] }}{{ key }}">{{ report[1] }}</a></li>
    {% endfor %}
</ol>
{% endblock %}
