{% extends "_layouts/donatasmart.twig" %}

{% block meta_description %}Out from memory and recent: movies and TV shows I viewed. Here is the brief representation of it{% endblock %}

{% block page_contents %}
<p>I like to waste some time with various sessions of movies/tv shows. Some basic statistics from my list of watched movies and TV shows. List is made out of memory and free will</p>
{% if sums is defined %}
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>genres per row</th>
            <th>countries per row</th>
            <th># directors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Movies:</th>
            <td>{{ sums.movies }}</td>
            <td>{{ (sums.genres / sums.movies)|number_format(5) }}</td>
            <td>{{ (sums.countries / sums.movies)|number_format(5) }}</td>
            <td>{{ sums.directors }}</td>
        </tr>
        <tr>
            <th>TV shows:</th>
            <td>{{ sums.series }}</td>
            <td>{{ (sums.genres_series / sums.series)|number_format(5) }}</td>
            <td>{{ (sums.countries_series / sums.series)|number_format(5) }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endif %}
{% if data is defined %}
<p>Numbers per years</p>
<div id="p-year" class="placeholder"></div>
<p>Numbers per decades</p>
<div id="p-decade" class="placeholder"></div>
<p>Percentages of items having particular genre</p>
<div id="p-genre" class="placeholder"></div>
<p>Percentage of directors who made a certain number of movies</p>
<div id="p-directed" class="placeholder"></div>
<div id="movies">
    <table>
        <tr><th></th><th>#movies</th></tr>
        {% for country,movie in data.countries %}
        <tr><td><a href="#by-country/{{ country|lower|url_encode }}/movies">{{ country }}</a></td><td>{{ movie }}</td></tr>
        {% endfor %}
    </table>
</div>
<div id="series">
    <table>
        <tr><th></th><th>#series</th></tr>
        {% for country,serie in data.countries_series %}
            <tr><td><a href="#by-country/{{ country|lower|url_encode }}/series">{{ country }}</a></td><td>{{ serie }}</td></tr>
        {% endfor %}
    </table>
</div>
{% include "homepage/movies-list.twig" with { "modal_id": "modal-movies-list" } %}
{% endif %}
{% endblock %}

{% block script %}
{% if data is defined %}
<script type="text/javascript">
//<!-- last access for data: {{ dataAccessed }}
{% spaceless %}
{% autoescape false %}
var year_labels = [{{ data.years|slice(19,null,true)|keys|join(",") }}],
    year_data = [{{ data.years|slice(19,null,true)|join(",") }}],
    decade_labels = ['{{ data.decades|keys|join("0-9','") }}0-9'],
    decade_data = [{{ data.decades|join(",") }}],
    genre_labels = ['{{ data.genre_list|join("','") }}'],
    genre_movies_data = [{{ data.genres|join(",") }}],
    genre_series_data = [{{ data.genres_series|join(",") }}],
    directed_labels = [{{ data.directed|keys|join(",") }}],
    directed_data = [{{ data.directed|join(",") }}];
{% endautoescape %}
{% endspaceless %}
//--!>
</script>
{% endif %}
{% endblock %}
