{% extends "homepage.twig" %}

{% block meta_description %}Out from memory and recent views I register viewed movies, TV shows. Here is the brief representation of it{% endblock %}

{% block title %}Movies{% endblock %}

{% block page_title %}Movies and TV shows{% endblock %}

{% block content %}
<p>I like to waste some time with various sessions of movies/tv shows. Some basic statistics from my list of watched movies and TV shows. List is made out of memory and free will</p>
{% if sums is defined %}
<div id="main_stats">
    <table>
        <tr>
            <td>Movies:</td>
            <td>{{ sums.movies }}</td>
            <td>{{ (sums.genres / sums.movies)|number_format(5) }} g/m</td>
            <td>{{ (sums.countries / sums.movies)|number_format(5) }} c/m</td>
            <td>{{ sums.directors }} d</td>
        </tr>
        <tr>
            <td>TV shows:</td>
            <td>{{ sums.series }}</td>
            <td>{{ (sums.genres_series / sums.series)|number_format(5) }} g/s</td>
            <td>{{ (sums.countries_series / sums.series)|number_format(5) }} c/s</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">Applies to first graph:</td>
        </tr>
        <tr id="meanval">
            <td colspan="2">Mean growth:</td>
            <td colspan="3"></td>
        </tr>
        <tr id="stdval">
            <td colspan="2">Next standard diff (squared):</td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>
{% endif %}
{% if data is defined %}
<p>Numbers per years</p>
<div id="p_year" class="placeholder"></div>
<p>Numbers per decades</p>
<div id="p_decade" class="placeholder"></div>
<p>Percentages of items having particular genre</p>
<div id="p_genre" class="placeholder"></div>
<p>Percentage of directors who made a certain number of movies</p>
<div id="p_directed" class="placeholder"></div>
<div id="movies">
    <table>
        <tr><th></th><th>#movies</th></tr>
        {% for country,movie in data.countries %}
        <tr><td><a href="#by-country/{{ country|lower|url_encode }}/movies">{{ country }}</a></td><td>{{ movie }}</td></tr>
        {% endfor %}
    </table>
</div>
<div id="series">
    <table>
        <tr><th></th><th>#series</th></tr>
        {% for country,serie in data.countries_series %}
            <tr><td><a href="#by-country/{{ country|lower|url_encode }}/series">{{ country }}</a></td><td>{{ serie }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="wrapper">{% include "common/loading.twig" %}</div>
{% endif %}
{% endblock %}
{% block script %}
{% if data is defined %}
{% spaceless %}
<script type="text/javascript">
//<!--
    {% autoescape false %}
    {{ dataScript }}
    {% endautoescape %}
    $(function() {
        $("#meanval td").last().html(meanval);
        $("#stdval td").last().html(stdval);
    });
//--!>
</script>
{% endspaceless %}
{% endif %}
{% endblock %}
