{% extends "_layouts/donatasmart.twig" %}

{% block page_contents %}
<p>I like to waste some time with various sessions of movies/tv shows. Some basic statistics from my list of watched movies and TV shows. List is made out of memory and free will</p>
<p class="alert alert-warning">None of the AJAX calls will work! Server require higher version of PHP. I can fix it, but using <code>$this</code> inside the closure is so damn good feature of PHP5.4 ;p</p>
{% if sums is defined %}
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>genres per row</th>
            <th>countries per row</th>
            <th># directors</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Movies:</th>
            <td>{{ sums.movies }}</td>
            <td>{{ (sums.genres / sums.movies)|number_format(5) }}</td>
            <td>{{ (sums.countries / sums.movies)|number_format(5) }}</td>
            <td>{{ sums.directors }}</td>
        </tr>
        <tr>
            <th>TV shows:</th>
            <td>{{ sums.series }}</td>
            <td>{{ (sums.genres_series / sums.series)|number_format(5) }}</td>
            <td>{{ (sums.countries_series / sums.series)|number_format(5) }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endif %}
{% if data is defined %}
<p>Numbers per years</p>
<div class="panel-group" id="accordion-year">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-year" href="#flot-p-year">Flot</a>
            </h4>
        </div>
        <div id="flot-p-year" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-year" href="#raphael-p-year">Raphaël</a>
            </h4>
        </div>
        <div id="raphael-p-year" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
</div>
<p>Numbers per decades</p>
<div class="panel-group" id="accordion-decade">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-decade" href="#flot-p-decade">Flot</a>
            </h4>
        </div>
        <div id="flot-p-decade" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-decade" href="#raphael-p-decade">Raphaël</a>
            </h4>
        </div>
        <div id="raphael-p-decade" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
</div>
<p>Percentages of items having particular genre</p>
<div class="panel-group" id="accordion-genre">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-genre" href="#flot-p-genre">Flot</a>
            </h4>
        </div>
        <div id="flot-p-genre" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-genre" href="#raphael-p-genre">Raphaël</a>
            </h4>
        </div>
        <div id="raphael-p-genre" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
</div>
<p>Percentage of directors who made a certain number of movies</p>
<div class="panel-group" id="accordion-directed">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-directed" href="#flot-p-directed">Flot</a>
            </h4>
        </div>
        <div id="flot-p-directed" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-directed" href="#raphael-p-directed">Raphaël</a>
            </h4>
        </div>
        <div id="raphael-p-directed" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
</div>
<div id="movies">
    <table>
        <tr><th></th><th>#movies</th></tr>
        {% for country,movie in data.countries %}
        <tr><td><a href="#by-country/{{ country|lower|url_encode }}/movies">{{ country }}</a></td><td>{{ movie }}</td></tr>
        {% endfor %}
    </table>
</div>
<div id="series">
    <table>
        <tr><th></th><th>#series</th></tr>
        {% for country,serie in data.countries_series %}
            <tr><td><a href="#by-country/{{ country|lower|url_encode }}/series">{{ country }}</a></td><td>{{ serie }}</td></tr>
        {% endfor %}
    </table>
</div>
{% include "homepage/_components/movies-list.twig" with { "modal_id": "modal-movies-list" } %}
{% endif %}
{% endblock %}

{% block script %}
{% if data is defined %}
<script type="text/javascript">
//<!-- last access for data: {{ dataAccessed }}
{% spaceless %}
{% autoescape false %}
var year_labels = [{% for d in data.years|slice(19, null, true)|keys %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    year_data = [{% for d in data.years|slice(19, null, true) %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    decade_labels = [{% for d in data.decades|keys %}[{{ loop.index0 }},'{{ d }}0-9'],{% endfor %}],
    decade_data = [{% for d in data.decades %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    genre_labels = [{% for d in data.genre_list %}[{{ loop.index0 }},'{{ d }}'],{% endfor %}],
    genre_movies_data = [{% for d in data.genres %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    genre_series_data = [{% for d in data.genres_series %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    directed_labels = [{% for d in data.directed|keys %}[{{ loop.index0 }},{{ d }}],{% endfor %}],
    directed_data = [{% for d in data.directed %}[{{ loop.index0 }},{{ d }}],{% endfor %}];
{% endautoescape %}
{% endspaceless %}
//--!>
</script>
{% endif %}
{% endblock %}
