<!DOCTYPE html>
<html lang="{{ html.lang }}">
<head>{% spaceless %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if isLive == 1 %}
    <meta name="google-site-verification" content="gND_iyudJzru_kmf-YSstX8_FFr7vXAFV8ajx-KbuaM" />
    {% endif %}
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    {#<meta name="author" content="Donatas Martinkus"/>#}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/cdcollection/{{ html.css }}.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <title>{{ html.title }} - {% block title %}{% endblock %}</title>
{% endspaceless %}</head>
<body>{% spaceless %}
    <div id="ie-sucks">You are using IE. Get a life - download proper browser</div>
    <div class="container">
        <header class="row-fluid">
            <div id="header-title" class="span4">
                <h1>{{ html.title }}</h1>
            </div>
            <div id="header-quote" class="span8 pull-right">
                <blockquote class="pull-right">
                    <p><em>{{ html.quote.text }}</em></p>
                    <small>
                        <a href="{{ html.base_url }}artist/{{html.quote.place.artist_link }}">{{ html.quote.place.artist_name }}</a> - <a href="{{ html.base_url }}artist/{{html.quote.place.artist_link }}/album/{{html.quote.place.album_link }}">{{ html.quote.place.track_name }}</a>
                    </small>
                </blockquote>
            </div>
        </header>
        <section class="row-fluid black">
            <div class="span8">breadcrums</div>
            <div class="span4 pull-right">search</div>
        </section>
        <section class="row-fluid">
            <div id="page-menu" class="span3">
                <h2>Selection</h2>
                {% include "common/artist-selection.twig" %}
            </div>
            <div id="page-content" class="span9">
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>
    {% if isLive == 1 %}
    {% include "common/ga.twig" %}
    {% endif %}
    <script type="text/javascript" src="{{ html.js }}.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% if js is defined %}
    {% for j in js %}
    <script type="text/javascript" src="{{ j }}"></script>
    {% endfor %}
    {% endif %}
    {% endspaceless %}
    {% block script %}{% endblock %}
</body>
</html>
