<!DOCTYPE html>
<html lang="{{ html.lang }}">
<head>{% spaceless %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% if isLive == 1 %}
    <meta name="google-site-verification" content="gND_iyudJzru_kmf-YSstX8_FFr7vXAFV8ajx-KbuaM" />
    <meta name="google-translate-customization" content="2910aef06f3ad9b0-76fbf884ea53b730-g17bf41f1127893fd-12" />
    {% endif %}
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    {#<meta name="author" content="Donatas Martinkus"/>#}
    <link rel="stylesheet" type="text/css" href="/css/homepage/{{ html.css }}.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <title>{{ html.title }} - {% block title %}{% endblock %}</title>
{% endspaceless %}</head>
<body>{% spaceless %}
    <div id="ie-sucks">You are using IE. Get a life - download proper browser</div>
    <div id="page">
        <div id="menu">{% include "common/menu.twig" %}</div>
        <div id="content">
            <div id="page-title">
                <h1>{% block page_title %}{% endblock %}</h1>
            </div>
            <div id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    {% if isLive == 1 %}
    {% include "common/ga.twig" %}
    {% endif %}
    <script type="text/javascript" src="{{ html.js }}.js"></script>
    {% if js is defined %}
    {% for j in js %}
    <script type="text/javascript" src="{{ j }}.js"></script>
    {% endfor %}
    {% endif %}
    {% endspaceless %}
    {% block script %}{% endblock %}
</body>
</html>
